@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-geist-sans: "geist-sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --primary: 23 83% 58%;
    --primary-hover: 23 79% 51%;
    --primary-active: 19 100% 86%;
    --primary-foreground: 30 5% 10%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --radius: 0.5rem;

    --vis-primary-color: var(--primary);
    --vis-secondary-color: 160 81% 40%;
    --vis-text-color: var(--muted-foreground);

    --vis-font-family: inherit !important;
    --vis-area-stroke-width: 2px !important;
    --vis-donut-central-label-text-color: hsl(var(--muted-foreground)) !important;
    --vis-tooltip-background-color: none !important;
    --vis-tooltip-border-color: none !important;
    --vis-tooltip-text-color: none !important;
    --vis-tooltip-shadow-color: none !important;
    --vis-tooltip-backdrop-filter: none !important;
    --vis-tooltip-padding: none !important;

    --linear-gradient: linear-gradient(
      to bottom right,
      #845ec2,
      #d65db1,
      #ff6f91,
      #ff9671,
      #ffc75f,
      #f9f871
    );

    --text-linear: 180deg, #845ec2 15%, #d65db1 30%, #ff6f91 45%, #ff9671 60%, #ffc75f 75%, #f9f871;

    --code-content-height: 600px;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --primary: 20 100% 71%;
    --primary-hover: 23 55% 53%;
    --primary-foreground: 30 5% 10%;
    --primary-active: 19 100% 86%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --linear-gradient: linear-gradient(
      to bottom right,
      #7251a8,
      #bd539d,
      #e66381,
      #e68a63,
      #e6b355,
      #e0e065
    );

    --text-linear: 180deg, #7251a8 15%, #bd539d 30%, #e66381 45%, #e68a63 60%, #e6b355 75%, #e0e065;
  }

  /* === Scrollbars === */

  ::-webkit-scrollbar {
    @apply w-2;
    @apply h-2;
  }

  ::-webkit-scrollbar-track {
    @apply !bg-muted;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-sm !bg-muted-foreground/30;
  }

  ::-webkit-scrollbar-corner {
    @apply !bg-muted;
  }

  /* Firefox */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color#browser_compatibility */
  html {
    scrollbar-color: hsl(215.4 16.3% 46.9% / 0.3);
  }

  html.dark {
    scrollbar-color: hsl(215.4 16.3% 56.9% / 0.3);
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .antialised {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
